.idea/*
.idea/workspace.xml
.vscode/*
__pycache__/i*
build/*
dist/*
venv/*
nist-nuclide-data.txt
nist_data.py
G-pka.spec
setup.py
test/inputW.json
test/example_data/W???s.asc
test/example_data/Ag*.asc
test/example_data/F*.asc
Development(Only_for_myself).md

